p
{
    width: 200px;
    border: 2px solid navy;
    background-color: antiquewhite;
}

h1
{
    color: rgba(255, 133, 224, 0.717);
}

img {
    max-width: 200px; /* Set the width to 200 pixels */
    height: auto; /* Maintain the aspect ratio */
    border: 2px dotted plum;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h2
{
    color:darkmagenta;
}

body {
    background-color: #fdecf9;
}