p
{
    width:500px;
    height: auto;
    border: 2px solid pink;
    border-radius: 5px;
    background:  linear-gradient(to right, #ff97d0d0, #ffdcb4, #ffcaccf2);;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

h1
{
    color: rgba(252, 123, 194, 0.717);
}

img {
    max-width: 400px; /* Set the width to 300 pixels */
    height: auto; /* Maintain the aspect ratio */
    border: 3px solid plum;
    border-radius: 4px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
}
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

h2
{
    color:darkmagenta;
}

body {
    background-color: #fdecf9;
}

intr 
{
color:powderblue;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 25px;
}